<div class="summary">
  <h4 style="padding-top: 10px">Home/ My Wishlist</h4>
  <div class="wishlist">
    <h2 style="margin: 10px 0px 20px 20px">
      My Wishlist({{ wishlist.length }})
    </h2>
  </div>
  <div *ngFor="let wish of wishlist" class="checkout">
    <div style="display: flex; gap: 30px">
      <div class="left">
        <img src="../../../assets/Image 11@2x.png" class="checkimage" />
      </div>

      <div class="right">
        <h2>{{ wish?.product_id?.bookName }}</h2>
        <p>{{ wish?.product_id?.author }}</p>
        <h1>
          Rs. {{ wish?.product_id?.discountPrice }}
          <span id="price">Rs. {{ wish?.product_id?.price }}</span>
        </h1>
      </div>
    </div>
    <div class="removeBook">
      <span
        class="material-symbols-outlined"
        (click)="deletewishListBooks(wish)"
      >
        delete
      </span>
    </div>
  </div>
</div>
