.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.box1 {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #e2e2e2;
  border-radius: 3px;
  opacity: 1;
  height: 350px;
  width: 235px;
  box-sizing: border-box;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 30px;
}
.container :hover {
  box-shadow: 0px 3px 6px #00000040;
}
img {
  width: 105px;
  height: 135px;
}
.image {
  height: 172px;
  width: 235px;
  background-color: #f5f5f5;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  padding-left: 3px;
}

.contentName {
  padding: 0px 0px 0px 0px;
  margin: 5px;
}
#price {
  font-size: smaller;
  font-weight: 200;
  text-decoration: line-through;
}

#star {
  font-size: 14px;
}
#starbutton {
  background-color: green;
  color: white;
  border: none;
  font-weight: bold;
  width: 40px;
  height: fit-content;
  padding: 0%;
}

#discountPrice {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #e2e2e2;
  border-radius: 3px;
  opacity: 1;
}
.twoButton {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0px;
}

button {
  width: 46%;
  margin: 3px;
  padding: 2%;
  color: white;
  background-color: brown;
  border: none;
  font-size: smaller;
}
#wishButton {
  background-color: #333333;
}
#heart {
  font-size: 15px;
  color: white;
}

@media screen and (max-width: 600px) {
  .box1 {
    align-items: center;
  }
  .container {
    display: flex;
    flex-direction: column;

    margin-left: 60px;
  }
  h1 {
    margin-left: 80px;
  }
}
