<form [formGroup]="login" (ngSubmit)="onlogin()">
  <div class="box">
    
    <div class="container">
      <div>
        <img
          src="../../../assets/book1.png"/>
      </div>
      <div class="para">
        <h3 id="content" >ONLINE BOOK SHOPPING</h3>
      </div>
    </div>

    <div class="container1">
      <div>

        <input type="radio" value="user" name="user" routerLink="/login">
        <label for="user">User</label>
        <input type="radio" value="user" name="user" routerLink="/adminlogin">
        <label for="user">Adminlogin</label>
      </div>
      <div style="display: flex; justify-content: space-around">
        <div>
          <a routerLink="/login"
            ><h2 style="font-weight: 500">LOGIN</h2></a
          >
        </div>
        <div>
          <a routerLink="/signin">
            <h2 style=" font-weight: 500; color: grey">
              SIGNUP
            </h2></a
          > 
        </div>
      </div>
      <div class="Input">
        <p>
          <span class="heading1">Email ld</span>
          <mat-form-field appearance="outline">
            <input matInput type="email" formControlName="email" />
            <mat-error>enter your email</mat-error>
          </mat-form-field>
        </p>
      </div>
      <div class="Input">
        <span class="heading1">Password</span>
        <mat-form-field appearance="outline">
          <mat-label></mat-label>
          <input matInput type="password" formControlName="password" />
          <mat-error>incorrect password</mat-error>
        </mat-form-field>
      </div>

      <div id="loginbtn">
        <button mat-raised-button>Login</button>
      </div>
      <div>
        <h3 style="text-align: center">
          ----------------OR----------------
        </h3>
      </div>

      <div class="buttons">
        <div class="Facebook">
          <button style="width: 100%" mat-flat-button color="primary">
            Facebook
          </button>
        </div>
        <div class="Facebook">
          <button style="width: 100%" mat-flat-button disabled>Google</button>
        </div>
      </div>
    </div>
  </div>
</form>
