<h1 style="margin-left: 50px">Books</h1>
<div class="MainContainer">
  <div class="containerOne">
    <img src="../../../assets/Image 11@2x.png" alt="" />
    <div class="twoButton">
      <button id="addButton">ADD TO BAG</button>
      <button id="wishButton">
        <span id="heart" class="material-symbols-outlined"> favorite </span>
        WISHLIST
      </button>
    </div>
  </div>
  <div class="containerTwo">
    <h1 class="contentName">{{ Book.bookName }}</h1>
    <p class="contentName">By {{ Book.author }}</p>
    <p class="contentName">
      <button id="starbutton">
        4.5 <i id="star" class="material-symbols-outlined"> star </i>
      </button>
    </p>

    <h1 class="contentName">RS. {{ Book.discountPrice }}</h1>
    <p>
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
      eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
      voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
      clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
      amet.d
    </p>
    <h2 class="contentName">Customers Feedback</h2>
    <h4 class="contentName">OverAll rating</h4>
    <p>
      <i class="star" class="material-symbols-outlined"> star </i>
      <i class="star" class="material-symbols-outlined"> star </i>
      <i class="star" class="material-symbols-outlined"> star </i>
      <i class="star" class="material-symbols-outlined"> star </i>
      <i class="star" class="material-symbols-outlined"> star </i>
    </p>
    <textarea
      name=""
      id=""
      cols="100"
      rows="5"
      placeholder="write your review"
    ></textarea>
    <button
      style="
        float: right;
        width: 130px;
        padding: 10px;
        background-color: rgb(13, 13, 109);
      "
    >
      Submit
    </button>
    <div>
      <!-- <h2 class="contentName">Aniket Chile</h2>
      <i  class="material-symbols-outlined"> star </i>
      <i  class="material-symbols-outlined"> star </i>
      <i  class="material-symbols-outlined"> star </i>
      <i class="material-symbols-outlined"> star </i>
      <i  class="material-symbols-outlined"> star </i>
    </div>
     <p class="contentName">
      Good product. Even though the translation could have been better,
      Chanakya's neeti are thought provoking. Chanakya has written on many
      different topics and his writings are succinct.
    </p>
    <h2 class="contentName">Sweta Bodkar</h2>
    <i  class="material-symbols-outlined"> star </i>
    <i  class="material-symbols-outlined"> star </i>
    <i  class="material-symbols-outlined"> star </i>
    <i  class="material-symbols-outlined"> star </i>
    <i  class="material-symbols-outlined"> star </i>
    <p class="contentName">
      Good product. Even though the translation could have been better,
      Chanakya's neeti are thought provoking. Chanakya has written on many
      different topics and his writings are succinct.
    </p> -->
    </div>
  </div>

  <div></div>
</div>
