.container {
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}
#submit {
  padding: 10px;
  margin-bottom: 20px;
}

h2 {
  text-align: center;
  margin-top: 5px;
  color: #a03037;
}

button {
  background-color: #a03037;
  color: white;
}

@media screen and (max-width:600px) {
  .container{
    width: 100%;

  }
  
}
