mat-toolbar {
  background-color: brown;
}

.book1 {
  margin-left: 20px;
  width: 220px;

  padding: 20px;
  margin: 10px;
}
#logoimage {
  margin-left: 12%;
}
#logoname {
  color: white;
  padding-right: 50px;
  padding-left: 10px;
}
#img2 {
  color: white;
}
#search {
  width: 40%;
  padding: 7px;
}
.material-symbols-outlined {
  color: white;
  padding: 8px;
}
button {
  background-color: brown;
  border: none;
}

input ::placeholder {
  margin-left: 40px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  margin: 10px;
}
* {
  box-sizing: border-box;
}

.img1 {
  border-color: white;
}
footer {
  background: #2e1d1e 0% 0% no-repeat padding-box;
  opacity: 1;
}
.footer {
  color: white;
  margin-left: 100px;
  padding-top: 5px;
}
#person {
  padding-left: 130px;
}
.mat-badge-warn .mat-badge-content {
  color: black;
  background: white;
}
@media screen and (max-width: 600px) {
  #person {
    padding: 0%;
  }
  .material-symbols-outlined {
    color: white;
    padding: 15px;
  }
  #logoname {
    color: white;
    padding-right: 20px;
  }
}
