<form [formGroup]="login" (ngSubmit)="onlogin()">
<div class="mainContainer">
  <div class="containerOne">
    <img src="../../../assets/book1.png" />
    <div class="content">
      <h3 id="content">ONLINE BOOK SHOPPING</h3>
    </div>
  </div>
  <div class="containerTwo">
    <div style="display: flex; justify-content: space-around">
      <h2 routerLink="/adminlogin">LOGIN</h2>
      <h2 routerLink="/adminsignup">SIGNUP</h2>
    </div>

    <span>Email Id</span>
    <mat-form-field appearance="outline">
      <input type="email" matInput  formControlName="email"/>
      <mat-error>Enter Your Email ID</mat-error>
    </mat-form-field>
    <span>Password</span>
    <mat-form-field appearance="outline">
      <input type="password" matInput formControlName="password" />
      <mat-error>Enter Correct Password</mat-error>
    </mat-form-field>

    <div>
      <button id="loginButton" mat-flat-button color="primary">LOGIN</button>
    </div>
    <h3 style="margin-left: 50px">------------ OR -------------</h3>

    <div class="buttons">
      <div>
      <a href="https://www.facebook.com"><button id="facebook" mat-flat-button color="primary">Facebook</button></a>  
      </div>
      <div>
       <a href="www.google.com"> <button id="Google" mat-flat-button color="primary">Google</button></a> 
      </div>
    </div>
  </div>
</div>
</form>