<app-home></app-home>

<button id="home" routerLink="/adminlogin">home</button>
<button id="Logout">Logout</button>

<div>
  <h1>BOOKS DETAILS</h1>
  <button id="addBook" (click)=" openDialog()">AddBooks</button>
  <table>
    <tr>
      <th>Book</th>
      <th>Book Name</th>
      <th>Author</th>
      <th>Discount</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Update</th>
      <th>Delete</th>
    </tr>

    <tr *ngFor="let admin of bookAdminArray">
      <td><img src="../../../assets/Image 11@2x.png" alt="" /></td>
      <td>{{ admin.bookName }}</td>
      <td>{{ admin.author }}</td>
      <td>{{ admin.discountPrice }}</td>
      <td>{{ admin.price }}</td>
      <td>{{ admin.quantity }}</td>
      <td><button>Update</button></td>
      <td><button (click)="deleteAdminBook(admin)">Delete</button></td>
    </tr>
  </table>
</div>