<!-- 
  <footer>

    <img id="logoimage" src="../../../assets/book2.png" alt="" />
    <span id="logoname" >BookStore</span>
<input type="text" id="search" placeholder="search"/>
 <button> <span class="material-symbols-outlined" id="person">  person </span></button>
  </footer> -->

  <p>
    <mat-toolbar >
        <img id="logoimage" src="../../../assets/book2.png" alt="" />
      <span id="logoname" >BookStore</span>
      <input type="text" id="search" placeholder="search"/>
      <span class="example-spacer"></span>
       <button class="pButton"  (click)="logout()"><span class="material-symbols-outlined" id="person" >  person </span> </button> 
    </mat-toolbar>
  </p>

    <!-- <div id="person">
      <button [matMenuTriggerFor]="menu">
      </button>
      <mat-menu #menu="matMenu">
        <h1>Welcome</h1>
        <h5>To acsess account and manage orders</h5>
        <button
          style="
            border: solid brown 2px;
            width: 100px;
            display: flex;
            margin-left: 10px;
            background-color: white;
          "
          
          mat-menu-item
        >
          LOGOUT
        </button>
        <p style="margin-left: 10px">My Orders</p>
        <p style="margin-left: 10px" routerLink="/home/wishlist">Wishlist</p>
      </mat-menu>
      </div>  -->

<div>
  <h1>BOOKS DETAILS</h1>
  <button id="addBook" (click)=" openDialog()">AddBooks</button>
  <table>
    <tr>
      <th>Book</th>
      <th>Book Name</th>
      <th>Author</th>
      <th>Discount</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Update</th>
      <th>Delete</th>
    </tr>

    <tr *ngFor="let admin of bookAdminArray">
      <td><img id="bookImg" src="../../../assets/Image 11@2x.png" alt="" /></td>
      <td>{{ admin.bookName }}</td>
      <td>{{ admin.author }}</td>
      <td>{{ admin.discountPrice }}</td>
      <td>{{ admin.price }}</td>
      <td>{{ admin.quantity }}</td>
      <td><button (click)=" openDialogs(admin)">Update</button></td>
      <td><button (click)="deleteAdminBook(admin)">Delete</button></td>
    </tr>
  </table>
</div>
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
/>