h1 {
  margin-left: 500px;
  margin-top: 30px;
}
#bookImg {
  padding: 10px;
  width: 90px;
  height: 100px;
}
table {
  border: solid grey 1px;
  margin-left: 100px;
  border-collapse: collapse;
}
tr {
  border: solid grey 1px;
}
th {
  padding: 30px;
  border: solid gray 1px;
}
td {
  padding: 10px;
  border: solid gray 1px;
}
button {
  background-color: #a03037;
  color: white;
}
#home {
  margin-left: 180px;
  margin-top: 20px;
  width: 100px;
}
#Logout {
  margin-right: 180px;
  margin-top: 20px;
  width: 100px;
}
#addBook {
  width: 150px;
  padding: 10px;
  margin-left: 100px;
  font-size: medium;
  margin-bottom: 10px;
}


#logoimage {
  margin-left: 12%;
  width: 30px;
}
#logoname {
  color: white;
  padding-right: 50px;
  padding-left: 10px;
  font-size: x-large;
}

#search {
  width: 40%;
  padding: 7px;
}

input ::placeholder {
  margin-left: 40px;
}

#person {
  padding-left: 130px;

  color: white;
}
.pButton{
  border: none;
}

mat-toolbar {
  background-color: #a03037;
  
}


@media only screen and (max-width: 600px)  {
  table {
    margin: 0%;
    width: 100%;
  }
  #addBook {
    margin: 0%;
  }
  h1 {
    text-align: center;
    width: 200px;
    color: #a03037;
    margin-left: 400px;
  }
  #home {
    margin-left: 750px;
    margin-top: 10px;
    position: absolute;
  }

  mat-toolbar {
    background-color: #a03037;
    width: 880px;
    
  }
}
@media  (min-width: 600px) and (max-width:1000px) {
  table {
    margin: 0%;
    width: 100%;
  }
  #addBook {
    margin: 0%;
  }
  h1 {
    text-align: center;
    width: 200px;
    color: #a03037;
    margin-left: 400px;
  }
  #home {
    margin-left: 750px;
    margin-top: 10px;
    position: absolute;
  }

  mat-toolbar {
    background-color: #a03037;
    width: 880px;
    
  } 
}
