.mainContainer {
  width: 1280px;
  height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: rgb(74, 72, 72);
   
  }
  .containerOne {
    margin-top: 40px;
    width: 300px;
    height: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #f5f5f5 0% 0% no-repeat padding-box;
    border-bottom-left-radius: 21px;
    border-top-left-radius: 21px;
  }
  img {
    border-radius: 50%;
    height: 225px;
    width: 225px;
  }
  #content {
    margin-top: 20px;
    font-weight: 600;
  }
  .containerTwo {
    margin-top: 40px;
    width: 300px;
    height: 400px;
    padding: 10px 30px 10px 30px;
    display: flex;
    flex-direction: column;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 15px #00000029;
    border: 1px solid #e4e4e4;
    border-radius: 6px;
  }
  
  #loginButton {
    width: 100%;
    background-color: #a03037;
  }
  ::ng-deep.mat-mdc-form-field-infix {
    min-height: 40px;
  }
  ::ng-deep.mat-mdc-text-field-wrapper.mdc-text-field--outlined
    .mat-mdc-form-field-infix {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  ::ng-deep .mat-mdc-form-field,
  .mat-mdc-floating-label {
    line-height: var(--mdc-typography-body1-line-height, 0px);
  }
  ::ng-deep .mat-mdc-form-field-subscript-wrapper,
  .mat-mdc-form-field-bottom-align::before {
    line-height: var(--mdc-typography-caption-line-height, 0px);
  }
  ::ng-deep .mat-mdc-form-field-bottom-align::before {
    content: "";
    height: 10px;
  }
 
  
  @media only screen and (max-width: 600px) {
    .containerOne {
      display: none;
    }
    .container1 {
      margin-top: 10%;
    }
    .mainContainer {
      width: 100%;
      height: 670px;
      background-color: white;
    }
  }
  @media only screen and (min-width: 600px) {
    .container1 {
      width: 100%;
    }
    .mainContainer {
      width: 100%;
      height: 580px;
      background-color: white;
    }
  }

  