<div class="mainContainer">
    <div class="containerOne">
      <img src="../../../assets/book1.png" />
      <div class="content">
        <h3 id="content">ONLINE BOOK SHOPPING</h3>
      </div>
    </div>
    <div class="containerTwo">
      <div style="display: flex; justify-content: space-around">
        <h2 routerLink="/adminlogin">LOGIN</h2>
        <h2 routerLink="/adminsignup">SIGNUP</h2>
      </div>
  

      <span>Full Name</span>
      <mat-form-field appearance="outline">
        <mat-label>Enter a Full Name</mat-label>
        <input matInput placeholder="Enter Full Name" />
        <mat-error>Enter Full NAme</mat-error>
      </mat-form-field>
      <span>Email Id</span>
      <mat-form-field appearance="outline">
        <mat-label>Enter a Email ID</mat-label>
        <input matInput placeholder="Enter a Email ID" />
        <mat-error>Enter Your Email ID</mat-error>
      </mat-form-field>
      <span>Password</span>
      <mat-form-field appearance="outline">
        <mat-label>Enter a Password</mat-label>
        <input matInput placeholder="Enter a PassWord" />
        <mat-error>Enter Correct Password</mat-error>
      </mat-form-field>
      <span>Mobile Number</span>
      <mat-form-field appearance="outline">
        <mat-label>Enter Mobile Number</mat-label>
        <input matInput placeholder="Enter a Mobile Number" />
        <mat-error>Enter Mobile Number</mat-error>
      </mat-form-field>
  
      <div>
        <button id="loginButton" mat-flat-button color="primary">LOGIN</button>
      </div>
  
      
    </div>
  </div>
  